<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond jewellery</title>
    <link rel="stylesheet" href="./styles.css" />
</head>
<body background="https://images.unsplash.com/photo-1513346940221-6f673d962e97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z29sZGVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" style="background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
<div class="wrapper">
    <div class="header">Shop your favourite diamond jewellery</div>
   
    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner">
                <img src="https://media.istockphoto.com/id/163122066/photo/round-diamonds-necklace.webp?b=1&s=170667a&w=0&k=20&c=ZMQeDmoo78dE4Y2zY_tpslWm2tQu35B7NzcidVdzCMQ=">
                <br><div class="role_name">Shimmer piece</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:2L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1573408301185-9146fe634ad0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGlhbW9uZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Bracelet</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:2L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://media.istockphoto.com/id/1126858679/photo/ethnic-jewellery-in-low-light.webp?b=1&s=170667a&w=0&k=20&c=YLlRUKHe8uBCnoHL3lI2VAKafhtl1QwDUk_CbRgbf08=">
                <div class="role_name">Neck piece</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:4L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://media.istockphoto.com/id/1127154603/photo/interwoven-diamond-engagement-ring-wedding-ring-on-black-background.webp?b=1&s=170667a&w=0&k=20&c=WxtHSJZtkFtoHFTdPEBNbwnGtwDpp8SHvbzvwFoSh2U=">
                <div class="role_name">Couple rings</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:4L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1543110960-b670d6ad0f4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
                <div class="role_name">Ring</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:3L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1617135945830-aad51a29ef50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGlhbW9uZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">New touch</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:1L onwards</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1535632066927-ab7c9ab60908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGRpYW1vbmQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Earrings</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:5L onwards.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1613945407943-59cd755fd69e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRpYW1vbmQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Season Special</div>
                <div class="real_name">New Arrival</div>
                <div class="film">Price:5L onwards</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
