<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold jewellery</title>
    <link rel="stylesheet" href="./styles.css" />
</head>
<body background="https://images.unsplash.com/photo-1513346940221-6f673d962e97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z29sZGVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" style="background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
<div class="wrapper">
    <div class="header">Shop your favourite gold jewellery</div>
   
    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner">
                <img src="https://media.istockphoto.com/id/1398776909/photo/earrings-product-shot-golden-hoops-on-marine-shell-background-jewelry-fashion-photography.webp?b=1&s=170667a&w=0&k=20&c=R1ctAlJ9UglaNBqMzVHQwVIbwCGIVX0_d_JHTSPl47s=">
                <br><div class="role_name">Rings of grace</div>
                <div class="real_name">Chadwick Boseman</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1626784215021-2e39ccf971cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
                <div class="role_name">Shimmer studs</div>
                <div class="real_name">Benedict Cumberbatch</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1629118639934-2b241503956c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Rings of gratitude</div>
                <div class="real_name">Scarlett Johansson</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1518049655356-4b957c5e604a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Couple rings</div>
                <div class="real_name">Tom Holland</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1611583027838-515a1087afdb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Pendant</div>
                <div class="real_name">Scarlett Johansson</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1610223515982-5bae48b7c2c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Traditional touch</div>
                <div class="real_name">Chadwick Boseman</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1601121141418-c1caa10a2a0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdvbGQlMjBqZXdlbGxlcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Neck piece</div>
                <div class="real_name">Tom Holland</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="https://images.unsplash.com/photo-1601121141461-9d6647bca1ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z29sZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
                <div class="role_name">Peshwai Special</div>
                <div class="real_name">Benedict Cumberbatch</div>
                <div class="film">Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
